@import "tailwindcss";

@theme {
  --color-primary: #b50a04;
  --color-primary-hover: #8a0803;
  --color-secondary: #32373c;
  --color-secondary-light: #444b52;
  --color-accent: #f5e90c;
  --color-accent-hover: #d4ca0a;

  --color-background: #FAFAFA;
  --color-foreground: #111827;
  --color-muted: #6B7280;
  --color-border: #E5E7EB;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 600;
    letter-spacing: -0.025em;
  }
}